.row {
    text-align: center;
    align-items: center;
    align-content: center;
}

.card {
    margin: auto;
    float: none;
    height: 10%;
    width: 30%;
}

.card-Container {
    margin: 3%;
}

.card-title {
    margin: 0.5%;
    margin-top: 2%;
}

.card-subtitle {
    margin: 0.5%;
}

.card img {
    border-radius: 20%;
    min-width: 17vw;
    min-height: 33vh;
}

.nav {
    position: fixed;
    right: 0;
    z-index: 2;
    background-color: white;
    opacity: 1;
    height: 7%;
    top: 0;
}

#dark-mode-div {
    background-color: white;
}