.row {
    text-align: center;
    align-items: center;
    align-content: center;
}

.card {
    margin: auto;
    float: none;
    height: 10%;
    width: 30%;
}

.card-Container {
    margin: 3%;
}

.card-title {
    margin: 0.5%;
    margin-top: 2%;
}

.card-subtitle {
    margin: 0.5%;
}