[data-theme="dark"] {
    background-color: #eee !important;
    color: #111;
}

[data-theme="dark"] .bg-light {
    background-color: #eee !important;
}

[data-theme="dark"] .bg-white {
    background-color: #fff !important;
}

[data-theme="dark"] .bg-black {
    background-color: #111 !important;
}